@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #23d2e2;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;
  font-family: Rajdhani, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.container {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  padding: 100px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.l-6 {
  max-width: 50%;
  flex: 0 0 50%;
}

.landing-page {
  padding-bottom: 30px;
  height: 100%;
  background: url(../image/landing-background.jpg) center / cover no-repeat;
  position: relative;
  overflow: hidden;
}

.landing-page::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  background: url("../img/dot-texture.png");
  height: 125%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #fff;
}

.landing-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 30px 0 0 20px;
}

.landing-info-logo .logo {
  fill: #fff;
  width: 42px;
  height: 60px;
  display: block;
}

.landing-info-pretitle {
  margin-top: 30px;
  font-size: 2.5rem;
  font-family: Rajdhani, sans-serif;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.landing-info-title {
  font-family: "Titillium Web", sans-serif;
  font-size: 9rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  top: -10px;
}

.landing-info-description {
  margin: 20px 70px 0;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.2;
}

.landing-info-controls {
  display: flex;
  color: #fff;
  margin-top: 75px;
  font-size: 1.6rem;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 12px;
  overflow: hidden;
}

.landing-info-controls .login,
.landing-info-controls .register {
  cursor: pointer;
  padding: 12px 60px;
}

#login:checked ~ .info-wrapper .login {
  background-color: #fff;
  color: #3e3f5e;
}

#login:not(:checked) ~ .info-wrapper .register {
  background-color: #fff;
  color: #3e3f5e;
}

.form-wrapper {
  position: relative;
  padding-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-form-login-logo {
  position: absolute;
  top: -68px;
  left: -80px;
  zoom: 0.9;
}

.landing-form-login {
  position: relative;
  width: 490px;
  left: 30px;
  opacity: 1;
  visibility: visible;
}

.lined-text {
  margin: 40px 0 30px;
  position: relative;
  background-color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.lined-text::before,
.lined-text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20%;
  height: 1px;
  background-color: #eaeaf5;
  transform: translateY(-50%);
}

.lined-text::after {
  right: 0;
  background-color: #e1e1f4;
}

.landing-login-form-social {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.landing-login-form-social .social-item {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.landing-login-form-social .social-item:hover {
  transform: translateY(-5px);
}

.landing-login-form-social .social-item i {
  color: #fff;
}

.landing-login-form-social .social-item:first-child {
  background-color: #3763d2;
}

.landing-login-form-social .social-item:nth-child(2) {
  background-color: #1abcff;
}

.landing-login-form-social .social-item:nth-child(3) {
  background-color: #7b5dfa;
}

.landing-login-form-social .social-item:last-child {
  background-color: #fd434f;
}

.landing-page:has(#login:checked) label.login {
  pointer-events: none;
}

.landing-page:has(#login:not(:checked)) label.register {
  pointer-events: none;
}

#login:not(:checked) ~ .form-wrapper .form.landing-form-login {
  left: 100%;
  opacity: 0;
  visibility: hidden;
}

.landing-form-register {
  width: 490px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  opacity: 0;
  visibility: hidden;
}

#login:not(:checked) ~ .form-wrapper .form.landing-form-register {
  left: 100px;
  opacity: 1;
  visibility: visible;
}

.landing-form-register-btn {
  background-color: #23d2e2;
}

.landing-form-register-btn:hover {
  background-color: #1bc5d4;
}

.landing-form-register-description {
  font-size: 1.4rem;
  margin-top: 20px;
}

.form {
  border-radius: 10px;
  background-color: #fff;
  padding: 64px;
  transition: all 0.8s ease;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #3e3f5e;
  text-align: center;
  margin-bottom: 65px;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
}

.input-group label {
  cursor: text;
}

.input {
  display: block;
  width: 100%;
  border-radius: 10px;
  font-size: 1.4rem;
  padding: 15px 18px;
  outline: none;
  border: 1px solid #adafca;
  font-weight: 700;
}

.label {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 18px;
  color: #adafca;
  font-weight: 600;
  padding: 2px;
  background-color: #fff;
  transform-origin: top left;
  transition: all 0.3s ease;
}

.input:focus {
  border-color: #615dfa;
}

.input:focus + .label,
.input:valid + .label {
  top: -1px;
  transform: scale(0.7);
}

.aside {
  margin: 20px 0 30px;
  display: flex;
  justify-content: space-between;
}

.aside .remember {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #3e3f5e;
  cursor: pointer;
}

.aside .remember .icon {
  border: 1px solid #ccc;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.aside .remember .icon i {
  font-size: 25px;
  color: #23d2e2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.remember-input:checked ~ .icon > i {
  opacity: 1;
  visibility: visible;
}

.forgot-password {
  font-size: 1.4rem;
  font-weight: 700;
  color: #adafca;
  cursor: pointer;
}

.forgot-password:hover {
  color: #23d2e2;
}

.btn {
  width: 100%;
  padding: 15px 0;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: #615dfa;
  box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #5753e4;
}

@media screen and (max-width: 1499.98px) {
  .landing-page {
    overflow: hidden;
  }
  .landing-page::before {
    display: none;
  }
  .container {
    max-width: 1250px;
  }
}

@media screen and (max-width: 1364.98px) {
  .s-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  body {
    overflow-y: auto;
  }
  .landing-page {
    overflow: auto;
  }
  .landing-page::before {
    display: none;
  }
  .container {
    padding-top: 70px;
    max-width: 490px;
  }
  .form-wrapper {
    padding: 0;
  }
  .landing-info {
    padding: 0;
  }
  .landing-form-login-logo {
    display: none;
  }
  .landing-info-description {
    display: none;
  }
  .landing-info-controls {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .landing-form-login {
    position: static;
  }
  #login:not(:checked) ~ .form-wrapper .form.landing-form-login {
    display: none;
  }
  .landing-form-register {
    position: static;
    display: none;
    transform: translateY(0);
  }
  #login:not(:checked) ~ .form-wrapper .form.landing-form-register {
    display: block;
  }
}

@media screen and (max-width: 599.98px) {
  .landing-page {
    padding: 0 20px;
  }
  .container {
    max-width: 100%;
  }
  .form {
    width: 100%;
  }
  .landing-page::before,
  .landing-form-login-logo {
    display: none;
  }
}

@media screen and (max-width: 499.98px) {
  .landing-page {
    padding: 0 20px;
  }
  .landing-page::before {
    display: none;
  }
  .landing-info-title {
    font-size: 6rem;
  }
  .form {
    padding: 40px 32px;
  }
}
